<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ title }}</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
        <link rel="stylesheet" href="/styelsheets/bootstrap.min.css">
        <!-- 可以在這裡添加其他的<head>標籤內容 -->
    </head>
    <body>
        <header>
            <!-- 放置您的網站標題、導航欄或其他共用的內容 -->
        </header>

        <main>
            <!-- 內容頁面的內容會插入到這裡 -->
            {% block content %}{% endblock %}
        </main>

        <footer>
            <!-- 放置頁尾內容 -->
        </footer>

        <script src="/javascripts/jquery-3.7.0.min.js"></script>
        <script src="/javascripts/popper.min.js"></script>
        <script src="/javascripts/bootstrap.min.js"></script>
    </body>
</html>