#bg {
  width: 100%;
  height: 100%;
  background: #ddd;
  font-size: 48px;
  text-align: center;
  position: absolute;
  font-weight: 900;
  z-index: -1;
}

.main {
  position: fixed;
  background: #fff;
  width: 100%;
  height: 100%;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.scrollDist {
  width: 100%;
  height: 150%;
}

section {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 40rem;
}
