$sansSerif: "Noto Sans TC", "Open Sans", sans-serif;
body {
  font-family: $sansSerif;
  overflow-x: hidden;
}
.goTop {
  position: fixed;
  right: 10px;
  bottom: 10px;
  transform: translateX(0);
  transition: transform 0.2s;
}
.goTop.hide {
  transform: translateX(140%);
}
.goTop .goTopBtn {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
.goTop .goTopBtn .fa-arrow-alt-circle-up {
  color: #ff6363;
}
